@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
head {
}
.header {
  display: flex;
  background: #004175;
  padding: 1rem;
  border-bottom: #89deef;
  justify-content: space-between;
  flex-wrap: wrap;
  }
h1 {
  color: white;
  font-size: 48px;
  font-family: "Oswald", Open Sans;
  font-weight: 600;
  }
.site-nav {
  display: inline;
  list-style: none;
  
}
.nav-item {
  list-style-type: none;
  padding-right: 0;
  display: inline;
}
.nav-link {
  color: white;
  font-size: 15px;
  text-decoration: none;
  list-style-type: none;
  font-family: "Oswald", Open Sans;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
h2 {
  font-size: 20px;
  padding: 1em;
  font-family: "Oswald", Open Sans;
}
.phome {
  padding: 20px;50px;
  width: 800px;
  font-family : "Open Sans";
  }
  p {
  font-family: "Oswald", Open Sans;
  padding: 1em;
  }
.trait {
  background: #89deef;
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border-radius: 30px;
  font-size: 20px;
  font-family: Open Sans;
  }
.traits {
  display: inline-block;
  width: 500px;
   }
.dogs {
  display: flex;
  flex-wrap: wrap;
   }
.dog {
  display: inline-block;
  margin: 10px;
  border-style: solid;
  }
.img {
  width: 100%;
}
.pcontact {
  padding: 60;
  font-family: "Open Sans";
  font-size: 2rem;
  margin-top: 20;
  flex-wrap: wrap;
  align-items: left; 
}
.contact
{
    margin-left: 60;
    font-family: "Open Sans";
    font-style: italic;
    flex-wrap: wrap;
}
.hours
{
    color: black;
    font-family: "Open Sans";
    font-size: 20px;
    margin-left:75;
}
.dog-name {
  font-size: 20px;
  font-family: "Oswald", Open Sans;
  padding: 10px;
}
.dog-photo {
  width: 100%;
}
footer
   {
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
       text-align: center;
       padding-top: 50px;
       font-family: "Oswald";
       font-size: 100px;
       background-color: #A6A9F0;
    }
    
.donate
    {
        display: flex;
        flex: auto;
        background-image: url(/images/donate.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
.volunteer
    {
        display: flex;
        flex: auto;
        background-image: url(/images/volunteer.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

.location
    {
        display: flex;
        flex: auto;
        background-image: url(/images/location.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

.footer-link
    {
        justify-content: center;
        line-height: 400px;
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        color: white;
    }